<section class="py-10 md:py-20">
  <div class="mx-auto max-w-3xl px-5">
    <h2 class="text-3xl font-bold text-center md:text-4xl"><%= t('.title') %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mt-10' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="grid grid-cols-1 gap-5">
        <div>
          <%= f.label :name, class: 'inline-block text-base md:text-lg required' %>
          <%= f.text_field :name, autocomplete: "name", class: 'block mt-2 rounded w-full p-2 bg-white text-base md:px-4 md:py-3' %>
        </div>

        <div>
          <%= f.label :email, class: 'inline-block text-base md:text-lg required' %>
          <%= f.email_field :email, autocomplete: "email", class: 'block mt-2 rounded w-full p-2 bg-white text-base md:px-4 md:py-3' %>
        </div>

        <div>
          <%= f.label :password, class: 'inline-block text-base md:text-lg required' %>
            <% if @minimum_password_length %>
              <em><%= t("devise.shared.minimum_password_length", count: @minimum_password_length) %></em>
            <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'block mt-2 rounded w-full p-2 bg-white text-base md:px-4 md:py-3' %>
        </div>

        <div>
          <%= f.label :password_confirmation, class: 'inline-block text-base md:text-lg required' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'block mt-2 rounded w-full p-2 bg-white text-base md:px-4 md:py-3' %>
        </div>
      </div>

      <div class="mt-10 text-center">
        <%= f.submit t('.sign_up'), class: 'inline-block rounded max-w-[160px] w-full p-3 bg-sub-color text-white text-base font-bold text-center cursor-pointer duration-300 hover:opacity-70' %>
      </div>
    <% end %>

    <div class="mt-10 text-center md:mt-20">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
