<header class="flex justify-between items-center sticky top-0 left-0 z-50 h-14 pl-5 bg-sub-color shadow-md md:h-16 md:px-5">
  <h1 class="h-full">
    <%= link_to 'CodeSheet', root_path, class: 'flex items-center h-full text-white text-2xl font-bold md:text-4xl' %>
  </h1>
  <nav class="hidden h-full md:block">
    <ul class="flex gap-5 h-full">
      <li class="h-full">
        <%= link_to 'コード一覧', '', class: 'flex items-center h-full text-white hover:underline' %>
      </li>
      <li class="h-full">
        <%= link_to '新規登録', '', class: 'flex items-center h-full text-white hover:underline' %>
      </li>
      <li class="h-full">
        <%= link_to 'ログイン', '', class: 'flex items-center h-full text-white hover:underline' %>
      </li>
    </ul>
  </nav>
  <button type="button" class="header-btn js-header-btn md:hidden">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="flex flex-col gap-1 fixed top-14 right-0 translate-x-40 z-50 w-36 py-3 bg-sub-color duration-300 js-header-menu">
    <li>
      <%= link_to 'コード一覧', '', class: 'block p-3 text-white text-center' %>
    </li>
    <li>
      <%= link_to '新規登録', '', class: 'block p-3 text-white text-center' %>
    </li>
    <li>
      <%= link_to 'ログイン', '', class: 'block p-3 text-white text-center' %>
    </li>
  </ul>
</header>