<section class="py-10 md:py-20">
  <div class="mx-auto max-w-3xl px-5">
    <h2 class="text-3xl font-bold text-center md:text-4xl">ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'mt-10' }) do |f| %>
      <div class="grid grid-cols-1 gap-5">
        <div>
          <%= f.label :email, class: 'inline-block text-base md:text-lg' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'block mt-2 rounded w-full p-2 bg-white text-base md:px-4 md:py-3' %>
        </div>

        <div>
          <%= f.label :password, class: 'inline-block text-base md:text-lg' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'block mt-2 rounded w-full p-2 bg-white text-base md:px-4 md:py-3' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="flex items-center gap-2">
            <%= f.check_box :remember_me, class: 'w-[20px] h-[20px]' %>
            <%= f.label :remember_me, class: 'text-base' %>
          </div>
        <% end %>
      </div>

      <div class="mt-10 text-center">
        <%= f.submit "ログイン", class: 'inline-block rounded max-w-[160px] w-full p-3 bg-sub-color text-white text-base font-bold text-center cursor-pointer duration-300 hover:opacity-70' %>
      </div>
    <% end %>

    <div class="flex flex-col justify-center items-center gap-5 mt-10 text-center md:flex-row md:justify-center md:mt-20 md:gap-10">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
