<article class="grid grid-rows-subgrid row-span-4 gap-5 pb-5 bg-white shadow-lg overflow-hidden">
  <%= link_to post_path(post), class: 'block group' do %>
    <% if post.image_url.present? %>
      <%= image_tag post.image_url, class: 'w-full object-cover aspect-[300/200] duration-300 group-hover:scale-110' %>
    <% else %>
      <%= image_tag 'no_image.jpg', class: 'w-full object-cover aspect-[300/200] duration-300 group-hover:scale-110' %>
    <% end %>
  <% end %>
  <div class="flex justify-between items-center gap-5 px-5">
    <span class="inline-block flex-shrink-0 rounded-full px-2 py-1 bg-sub-color text-white text-sm">カテゴリー</span>
    <time class="text-base font-normal" datetime="<%= l post.created_at, format: :datetime %>"><%= l post.created_at %></time>
  </div>
  <h3 class="px-5 text-lg font-bold line-clamp-2">
    <%= link_to post_path(post), class: 'hover:underline' do %>
      <%= post.title %>
    <% end %>
  </h3>
  <% if user_signed_in? %>
    <% unless current_user.own?(post) %>
      <div class="flex justify-end items-center gap-5 px-5">
        <%= render 'likes_buttons', { post: post } %>
        <%= render 'bookmark_buttons', { post: post } %>
      </div>
    <% end %>
  <% end %>
  <% if action_name == 'user_index' %>
    <div class="flex justify-end items-center gap-2 px-5">
      <%= image_tag 'like.png', class: 'w-6' %>
      <span class="text-sm"><%= post.likes_count %></span>
    </div>
  <% end %>
</article>