<section class="py-10 md:py-20">
  <div class="mx-auto max-w-xl px-5 md:max-w-3xl lg:max-w-5xl">
    <h2 class="text-2xl font-bold md:text-3xl"><%= @post.title %></h2>
    <div class="flex items-center gap-5 mt-5 md:gap-10 md:mt-10">
      <span class="inline-block flex-shrink-0 rounded-full px-2 py-1 bg-sub-color text-white text-sm">カテゴリー</span>
      <time class="text-base font-normal" datetime="<%= l @post.created_at, format: :datetime %>"><%= l @post.created_at %></time>
    </div>
    <p class="mt-5 text-base md:mt-10 md:text-lg"><%= @post.description %></p>
    <div class="mt-5 mx-auto max-w-xl md:mt-10">
      <%= image_tag @post.image_url, class: 'w-full max-h-[800px] object-contain' %>
    </div>

    <% @post.codes.each do |code| %>
      <div class="flex flex-col gap-2 code-container" data-controller="code-copy">
        <p class="mt-5 text-xl font-bold md:mt-10 md:text-2xl"><%= t("activerecord.attributes.code/language.#{code.language}") %></p>
        <pre class="-mt-5">
          <code class="h-full" data-code-copy-target="code"><%= code.body %></code>
        </pre>
        <div class="-mt-5 text-center">
          <button type="button" data-action="click->code-copy#copy" class="inline-block rounded max-w-[160px] w-full p-3 bg-green-500 text-white text-base font-bold text-center cursor-pointer duration-300 hover:opacity-70">コピー</button>
        </div>
      </div>
    <% end %>

    <% if current_user.own?(@post) %>
      <div class="flex justify-center gap-5 mt-10">
        <%= link_to t('helper.submit.edit'), edit_post_path(@post), class: 'inline-block rounded max-w-[160px] w-full p-3 bg-sub-color text-white text-base font-bold text-center cursor-pointer duration-300 hover:opacity-70' %>
        <%= link_to t('helper.submit.destroy'), post_path(@post), class: 'inline-block rounded max-w-[160px] w-full p-3 bg-red-500 text-white text-base font-bold text-center cursor-pointer duration-300 hover:opacity-70', data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
      </div>
    <% end %>
  </div>
</section>