<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>CodeSheet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script>document.addEventListener("turbo:load", () => { hljs.highlightAll(); });</script>
    <script>document.addEventListener("DOMContentLoaded", () => { hljs.highlightAll(); });</script>
  </head>

  <body data-logged-in="<%= user_signed_in? %>">
    <% if user_signed_in? %>
      <%= render 'shared/login_header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash_message' %>

    <main class="flex-1">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
