<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-logged-in="<%= user_signed_in? %>">
    <% if user_signed_in? %>
      <%= render 'shared/login_header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash_message' %>

    <main class="flex-1">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
